{% extends "authenticated.html" %}

<title>{{ title }}</title>

{% block styles %}
    {{ super() }}
    <style>
        .chat-list {
            padding: 20px;
            margin: 20px;
            background-color: rgba(33, 37, 36, 0);
            border: 2px solid #888;
            border-radius: 8px;
            max-width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
        .chat-item {
            padding: 10px;
            margin-bottom: 10px;
            background-color: rgba(33, 37, 36, 0);
            border: 2px solid #888;
            border-radius: 5px;
        }
        .chat-item:hover {
            background-color: rgba(33, 37, 36, 0);
            border: 2px solid #888;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="content">
        {% if chats_with_companion %}
        <div class="chat-list">
            <h2>Ваши чаты</h2>
            {% for item in chats_with_companion %}
            <div class="chat-item">
                <!-- Передаем chat_id в URL -->
                <a href="/authenticated/chat/{{ item.chat_id }}">
                    Чат с {{ item.companion_name }}
                </a>
                <p>Последнее сообщение: {{ item.chat.last_message_time }}</p>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="chat-list">
            <h2>У вас нет активных чатов.</h2>
        </div>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}